<a href="https://colab.research.google.com/github/edvaicode/challenge_01/blob/main/Challenge_01_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![](https://github.com/nico-edvai/images/blob/main/header_edvai.png?raw=true)[Escuela de Datos Vivos](https://www.escueladedatosvivos.ai/)

# Challenge_01 
https://github.com/edvaicode/challenge_01

In [ ]:
import pandas as pd 
resultados_cmff = pd.read_csv("https://raw.githubusercontent.com/nico-edvai/challenge_01/main/resultados_cmff.csv")

In [ ]:
resultados_cmff

,anio,equipo,codigo_pais,ronda,resultado,goles,id_partido_anio,numero_equipo
0,1991,República Popular China,CHN,Fase de grupos,Victoria,4,1,1
1,1991,Noruega,NOR,Fase de grupos,Derrota,0,1,2
2,1991,Dinamarca,DEN,Fase de grupos,Victoria,3,2,1
3,1991,Nueva Zelanda,NZL,Fase de grupos,Derrota,0,2,2
4,1991,Japón,JPN,Fase de grupos,Derrota,0,3,1
...,...,...,...,...,...,...,...,...
563,2019,Suecia,SWE,Semifinales,Derrota,0,50,2
564,2019,Inglaterra,ENG,Tercer lugar,Derrota,1,51,1
565,2019,Suecia,SWE,Tercer lugar,Victoria,2,51,2
566,2019,Estados Unidos,USA,Final,Victoria,2,52,1
567,2019,Países Bajos,NED,Final,Derrota,0,52,2

# *Opción 1* creando funciones, condiciones y ciclo for

# 01 ¿Cuáles y cuántos son los años que analizaremos?

In [ ]:
anios = pd.unique(resultados_cmff['anio'])
anios

array([1991, 1995, 1999, 2003, 2007, 2011, 2015, 2019])

In [ ]:
len(anios)

8

# 02 ¿Qué sucedio en 1991?

In [ ]:
data_1991 = resultados_cmff[resultados_cmff['anio'] == 1991]
data_1991

,anio,equipo,codigo_pais,ronda,resultado,goles,id_partido_anio,numero_equipo
0,1991,República Popular China,CHN,Fase de grupos,Victoria,4,1,1
1,1991,Noruega,NOR,Fase de grupos,Derrota,0,1,2
2,1991,Dinamarca,DEN,Fase de grupos,Victoria,3,2,1
3,1991,Nueva Zelanda,NZL,Fase de grupos,Derrota,0,2,2
4,1991,Japón,JPN,Fase de grupos,Derrota,0,3,1
5,1991,Brasil,BRA,Fase de grupos,Victoria,1,3,2
6,1991,Alemania,GER,Fase de grupos,Victoria,4,4,1
7,1991,Nigeria,NGA,Fase de grupos,Derrota,0,4,2
8,1991,Suecia,SWE,Fase de grupos,Derrota,2,5,1
9,1991,Estados Unidos,USA,Fase de grupos,Victoria,3,5,2
10,1991,China Taipei,TPE,Fase de grupos,Derrota,0,6,1
11,1991,Italia,ITA,Fase de grupos,Victoria,5,6,2
12,1991,Noruega,NOR,Fase de grupos,Victoria,4,7,1
13,1991,Nueva Zelanda,NZL,Fase de grupos,Derrota,0,7,2
14,1991,República Popular China,CHN,Fase de grupos,Empate,2,8,1
15,1991,Dinamarca,DEN,Fase de grupos,Empate,2,8,2
16,1991,Japón,JPN,Fase de grupos,Derrota,0,9,1
17,1991,Suecia,SWE,Fase de grupos,Victoria,8,9,2
18,1991,Italia,ITA,Fase de grupos,Victoria,1,10,1
19,1991,Nigeria,NGA,Fase de grupos,Derrota,0,10,2
20,1991,Brasil,BRA,Fase de grupos,Derrota,0,11,1
21,1991,Estados Unidos,USA,Fase de grupos,Victoria,5,11,2
22,1991,China Taipei,TPE,Fase de grupos,Derrota,0,12,1
23,1991,Alemania,GER,Fase de grupos,Victoria,3,12,2
24,1991,Japón,JPN,Fase de grupos,Derrota,0,13,1
25,1991,Estados Unidos,USA,Fase de grupos,Victoria,3,13,2
26,1991,República Popular China,CHN,Fase de grupos,Victoria,4,14,1
27,1991,Nueva Zelanda,NZL,Fase de grupos,Derrota,1,14,2
28,1991,Brasil,BRA,Fase de grupos,Derrota,0,15,1
29,1991,Suecia,SWE,Fase de grupos,Victoria,2,15,2
30,1991,Noruega,NOR,Fase de grupos,Victoria,2,16,1
31,1991,Dinamarca,DEN,Fase de grupos,Derrota,1,16,2
32,1991,China Taipei,TPE,Fase de grupos,Victoria,2,17,1
33,1991,Nigeria,NGA,Fase de grupos,Derrota,0,17,2
34,1991,Italia,ITA,Fase de grupos,Derrota,0,18,1
35,1991,Alemania,GER,Fase de grupos,Victoria,1,18,2
36,1991,República Popular China,CHN,Cuartos de final,Derrota,0,19,1
37,1991,Suecia,SWE,Cuartos de final,Victoria,1,19,2
38,1991,Estados Unidos,USA,Cuartos de final,Victoria,7,20,1
39,1991,China Taipei,TPE,Cuartos de final,Derrota,0,20,2
40,1991,Dinamarca,DEN,Cuartos de final,Derrota,1,21,1
41,1991,Alemania,GER,Cuartos de final,Victoria,2,21,2
42,1991,Noruega,NOR,Cuartos de final,Victoria,3,22,1
43,1991,Italia,ITA,Cuartos de final,Derrota,2,22,2
44,1991,Alemania,GER,Semifinales,Derrota,2,23,1
45,1991,Estados Unidos,USA,Semifinales,Victoria,5,23,2
46,1991,Suecia,SWE,Semifinales,Derrota,1,24,1
47,1991,Noruega,NOR,Semifinales,Victoria,4,24,2
48,1991,Suecia,SWE,Tercer lugar,Victoria,4,25,1
49,1991,Alemania,GER,Tercer lugar,Derrota,0,25,2
50,1991,Noruega,NOR,Final,Derrota,1,26,1
51,1991,Estados Unidos,USA,Final,Victoria,2,26,2

## 02.01¿Qué equipos/paises participaron?

In [ ]:
 pd.unique(data_1991['equipo'])

array(['República Popular China', 'Noruega', 'Dinamarca', 'Nueva Zelanda',
       'Japón', 'Brasil', 'Alemania', 'Nigeria', 'Suecia',
       'Estados Unidos', 'China Taipei', 'Italia'], dtype=object)

## 02.02 Veamos cuantos goles convirtio 'República Popular China' en 1991

In [ ]:
data_1991[data_1991['equipo'] == 'República Popular China']

,anio,equipo,codigo_pais,ronda,resultado,goles,id_partido_anio,numero_equipo
0,1991,República Popular China,CHN,Fase de grupos,Victoria,4,1,1
14,1991,República Popular China,CHN,Fase de grupos,Empate,2,8,1
26,1991,República Popular China,CHN,Fase de grupos,Victoria,4,14,1
36,1991,República Popular China,CHN,Cuartos de final,Derrota,0,19,1

In [ ]:
data_1991[data_1991['equipo'] == 'República Popular China']['goles'].sum()

10

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html

## 02.03 Extendemos el procedimiento a **todos los equipos** : 
'Noruega', 'Dinamarca', 'Nueva Zelanda',
       'Japón', 'Brasil', 'Alemania', 'Nigeria', 'Suecia',
       'Estados Unidos', 'China Taipei', 'Italia'

In [ ]:
equipos = pd.unique(data_1991['equipo'])

for equipo in equipos:
  print(equipo)
  total_goles = data_1991[data_1991['equipo'] == equipo]['goles'].sum()
  print(total_goles)

República Popular China
10
Noruega
14
Dinamarca
7
Nueva Zelanda
1
Japón
0
Brasil
1
Alemania
12
Nigeria
0
Suecia
18
Estados Unidos
25
China Taipei
2
Italia
8

## 02.04 ¿Qué equipo convirtio más goles en 1991?

In [ ]:
equipos = pd.unique(data_1991['equipo'])

total_goles_mayor = 0
equipo_buscado = "DEFAULT"

for equipo in equipos:
  print(equipo)
  total_goles = data_1991[data_1991['equipo'] == equipo]['goles'].sum()
  print(total_goles)
  # comparamos
  if(total_goles > total_goles_mayor):
    total_goles_mayor = total_goles
    equipo_buscado    = equipo

print("----------")
print(total_goles_mayor)
print(equipo_buscado)

República Popular China
10
Noruega
14
Dinamarca
7
Nueva Zelanda
1
Japón
0
Brasil
1
Alemania
12
Nigeria
0
Suecia
18
Estados Unidos
25
China Taipei
2
Italia
8
----------
25
Estados Unidos

# 03 Creamos una funcion  **equipo_total_goles**

In [ ]:
def equipo_total_goles(data):
  '''Retorna que equipo tiene más goles: su nombre y cantidad'''
  total_goles_mayor = 0
  equipo_buscado = "DEFAULT"
  for equipo in equipos:
    #print(equipo)
    total_goles = data[data['equipo'] == equipo]['goles'].sum()
    #print(total_goles)

    if(total_goles >= total_goles_mayor):
      total_goles_mayor = total_goles
      equipo_buscado    = equipo

  #print("----------")
  #print(total_goles_mayor)
  #print(equipo_buscado)

  return([equipo_buscado,total_goles_mayor])

## 03 .01 Testeamos con data_1991

In [ ]:
equipo_total_goles(data_1991)

['Estados Unidos', 25]

#04 Utilizarlo para todo el dataset

In [ ]:
for anio in anios:
  data = resultados_cmff[resultados_cmff['anio'] == anio]
  resultado = equipo_total_goles(data)
  print([anio,resultado])

[1991, ['Estados Unidos', 25]]
[1995, ['Noruega', 23]]
[1999, ['República Popular China', 19]]
[2003, ['Alemania', 25]]
[2007, ['Alemania', 21]]
[2011, ['Estados Unidos', 13]]
[2015, ['Alemania', 20]]
[2019, ['Estados Unidos', 26]]

# *Opción 2*: Utilizando Pandas groupby & .iloc

# 05 Groupby Pandas

## 05.01 sumamos goles por anio y equipo

In [ ]:
resultados_cmff.groupby(['anio','equipo'])['goles'].sum()

anio  equipo
1991  Alemania                   12
      Brasil                      1
      China Taipei                2
      Dinamarca                   7
      Estados Unidos             25
                                 ..
2019  Países Bajos               11
      República Popular China     1
      Sudáfrica                   1
      Suecia                     12
      Tailandia                   1
Name: goles, Length: 136, dtype: int64

## 05.02 Creamos un nuevo dataframe

In [ ]:
 df_goles = resultados_cmff.groupby(['anio','equipo'])['goles'].sum().reset_index(name ='total_goles')
 df_goles

     anio                   equipo  total_goles
0    1991                 Alemania           12
1    1991                   Brasil            1
2    1991             China Taipei            2
3    1991                Dinamarca            7
4    1991           Estados Unidos           25
..    ...                      ...          ...
131  2019             Países Bajos           11
132  2019  República Popular China            1
133  2019                Sudáfrica            1
134  2019                   Suecia           12
135  2019                Tailandia            1

[136 rows x 3 columns]

## 05.03 ¿Cuáles son los ***valores máximos***  de **total_goles** ?

In [ ]:
df_goles.groupby(['anio'])['total_goles'].max()

anio
1991    25
1995    23
1999    19
2003    25
2007    21
2011    13
2015    20
2019    26
Name: total_goles, dtype: int64

## 05.04 Averiguemos en que **posiciones** del dataframe  se encuentran esos valores **máximos**

In [ ]:
 id_maximo = df_goles.groupby(['anio'])['total_goles'].idxmax()

## 05.05 Encontremos los equipos según el id_ de posición, utilizando **.iloc**

In [ ]:
df_goles.iloc[id_maximo]

     anio                   equipo  total_goles
4    1991           Estados Unidos           25
21   1995                  Noruega           23
37   1999  República Popular China           19
40   2003                 Alemania           25
56   2007                 Alemania           21
78   2011           Estados Unidos           13
88   2015                 Alemania           20
122  2019           Estados Unidos           26